/*GENERAL*/
/*ALL LABELS*/
.label {
    -fx-font-family: "Inter";
    -fx-font-size: 30px;
    -fx-text-fill: #0E1D33;
}

/*ALL TEXT-FIELDS*/
.text-area {
    -fx-font-family: "Inter";
    -fx-font-size: 30px;
    -fx-text-fill: #0E1D33;
}

/*ALL BUTTONS*/
.button{
    -fx-font-family: "Inter";
    -fx-font-size: 40 px;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#d0d0d0, #aeb5b6);
    -fx-background-radius: 30px;
}
.button:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 2 , 0 );
}

/************************************ PATIENT PROFILE SCENE 1  ******************************************************/

/*Staff button*/
#buttonStaff{
    -fx-background-image: url(images/user.png);
    -fx-background-color: Transparent;
}
#buttonStaff:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 0 , 0 );
}


/*Staff text*/
#textStaff{
    -fx-font-family: "Inter";
    -fx-font-size: 30px;
    -fx-text-fill: #0E1D33;
}

/*Main menu button*/
#buttonMainMenu{
    -fx-background-image: url(images/home.png);
    -fx-background-color: Transparent;
}
#buttonMainMenu:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 0 , 0 );
}


/*Power Button*/
#buttonPower{
    -fx-background-image: url(images/power.png);
    -fx-background-color: Transparent;
}
#buttonPower:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 0 , 0 );
}


/*Background grid*/
#gridCabecalho{
    -fx-background-image: url(images/Staff/backgroundStaff.png);
}

/*Main title*/
#title{
    -fx-font-size: 80px;
    -fx-font-weight: BOLD;
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0.0 , 2 , 0 );
}


/*Button save*/
#buttonSave{
    -fx-background-color: #79DD99;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 50px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 50px;
    -fx-padding: 8px;
}
