/*GENERAL*/
.root {-fx-background-image: url(images/AdminMenu/BackgroundAdmin.png);}
/*ALL LABELS*/
.label {
    -fx-font-family: "Inter";
    -fx-font-size: 30px;
    -fx-text-fill: #0E1D33;
}
/*ALL BUTTONS*/
.button{
    -fx-font-family: "Inter";
    -fx-font-size: 40 px;
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#d0d0d0, #aeb5b6);
    -fx-background-radius: 30px;
}
.button:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 2 , 0 );
}


/*ADMIN BUTTON*/
#buttonAdmin{
    -fx-background-image: url(images/AdminMenu/user.png);
    -fx-background-color: Transparent;
}
#buttonAdmin:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 0 , 0 );
}
/*POWER BUTTON*/
#buttonPower{
    -fx-background-image: url(images/AdminMenu/power.png);
    -fx-background-color: Transparent;
}
#buttonAdmin:hover{
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0 , 0 , 0 );
}